<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>dxd</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="aside aside-1"></div>
            <div class="main">
                <header>
                    무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다무궁화꽃이피었습니다
                </header>
                <div class="images">
                    <img src="https://c2.staticflickr.com/2/1318/5114665665_e55b2c2169.jpg" alt="cat1">
                    <img src="https://c4.staticflickr.com/8/7160/6672148713_4e2ab31099.jpg" alt="cat2">
                </div>
                <div class="images">
                    <img src="https://c1.staticflickr.com/9/8087/8560297430_c6ed50f1e1_z.jpg" alt="cat3">
                    <img src="https://c4.staticflickr.com/4/3880/14454993846_30761b7136.jpg" alt="">
                </div>
                <footer>

                </footer>
            </div>
            <div class="aside aside-2"></div>
        </div>
    </body>
</html>