.container {
    position: relative;
    width: 500px;
    height: 333px;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

a:hover + div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff6759;
    bottom: 0px;
    left: 0px;
    -webkit-animation: 1s bg;
    opacity: 0.6;
}

@-webkit-keyframes bg {
    0% {
        height: 0px;
        opacity: 0;
        background-color: #ff6759;
    }
    100% {
        height: 333px;
        opacity: 0.6;
        background-color: #ff6759;
    }
}